.list {
  &[data-variant='custom'] {
    border-bottom: none;
    gap: 24px;
  }
}

.tab {
  &[data-variant='custom'] {
    border: none;
    background: transparent;
    padding: 4px 16px;
    font-weight: 400;
    color: #adb5bd;

    /* Создаем невидимую рамку заранее, чтобы при активации ничего не дергалось */
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;

    &[data-active] {
      color: #005b9c;
      border-bottom-color: #005b9c;
    }

    &:hover:not([data-active]) {
      color: #0070bf;
      border-bottom-color: var(--mantine-color-gray-2);
    }
  }
}
